/* This is all self explanatory CSS. The layout is entirely fixed width and absolute positioned for a 1920x1080 display resolution.  */
body {
	width:1920px;
	height:1080px;
	background:url('blank_bg.png');
	margin:0;
	overflow:hidden;
}
p {
	padding:0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.small {
	font-family: arial;
	font-size: 30px;
	color: white;
}
#gCal {
    margin-left: 878px;
    margin-top: -40px;
    height: 280px;
    line-height: 80px;
}
#authorize-div {
	position: absolute;
    top: 0;
}