.main-content button b {
    font-family: cab-icons!important;
    color: white;
}
.main-content .page-info.info-reviewed {
    display:none;
}
i.icon-guillemet-right.side-nav__current__icon {
    margin-left: 10px;
}