.smart--meter h1 {
    color: black;
}
.form--wrapper.o-grid__unit--m-1-1.o-grid__unit--d-1-2 {
    border-top: 4px solid #004291;
    padding-top: 32px;
}
.intro--section.o-grid__unit--m-1-1.o-grid__unit--d-1-2 {
    padding-bottom: 17px;
}
#RootPlaceHolder_RootPlaceHolder_TxtMPxn {
    width: 288px;
}
#RootPlaceHolder_RootPlaceHolder_TxtPostcode {
    width: 288px;
    max-width: 288px!important;
}
#RootPlaceHolder_RootPlaceHolder_LblTnC {
    font-weight: normal;
}
#RootPlaceHolder_RootPlaceHolder_ChkTnC {
    float: left;
    margin-top: 5px;
    width: 44px;
    height: 44px;
}
#RootPlaceHolder_RootPlaceHolder_BtnSubmit {
    background: #018176;
    color:white;
    border:none;
    margin-top:15px;
    width: 195px;
}