.smart--meter h1, .meter--details h1, .meter--details h2, .meter--details h3, .meter--other h2, .meter--info h2, .meter--info h3, .meter--other h3, .supplier--info h1, .supplier--info h2, .supplier--list h2, .supplier--list h3 {
    color: black;
}
.supplier--list h2 {
    padding-bottom: 8px;
}
.form--wrapper.o-grid__unit--m-1-1.o-grid__unit--d-1-2 {
    border-top: 4px solid #004291;
    padding-top: 32px;
}
.intro--section.o-grid__unit--m-1-1.o-grid__unit--d-1-2 {
    padding-bottom: 17px;
}
#RootPlaceHolder_RootPlaceHolder_TxtMPxn {
    width: 288px;
}
#RootPlaceHolder_RootPlaceHolder_TxtPostcode {
    width: 288px;
    max-width: 288px!important;
}
#RootPlaceHolder_RootPlaceHolder_LblTnC {
    font-weight: normal;
}
#RootPlaceHolder_RootPlaceHolder_ChkTnC {
    float: left;
    margin-top: 5px;
    width: 44px;
    height: 44px;
}
#RootPlaceHolder_RootPlaceHolder_BtnSubmit {
    background: #018176;
    color:white;
    border:none;
    margin-top:15px;
    width: 195px;
}
#RootPlaceHolder_RootPlaceHolder_BtnFindSupplier {
    background: #018176;
    color:white;
    border:none;
    margin-top:0px;
    margin-bottom: 15px;
}
#RootPlaceHolder_RootPlaceHolder_LblDetailsCorrect {
    color: #4A4E4F;
}
.meter--details dl {
    background: #e6f3e5;
    border-left: 4px solid #0A8600;
    padding: 16px;
    padding-bottom: 0;
}
.meter--details dd {
    margin-inline-start: 0;
    padding-bottom: 16px;
}
.meter--details dt {
    font-weight: bold;
}
#RootPlaceHolder_RootPlaceHolder_PnlOtherMeter {
    margin-top: 40px;
}
#RootPlaceHolder_RootPlaceHolder_PnlOtherMeter h3 {
    margin-top:0;
}
#RootPlaceHolder_RootPlaceHolder_BtnOtherMeter {
    color: black;
    background: white;
    border: 2px solid #007A7C;
}
.list-style-none {
    list-style: none;
    padding-left:0;
}
.list-style-none li {
    border-bottom: 1px solid #D7D7D7;
    padding-top: 2px;
    padding-bottom: 10px;
}
.letter-separator {
    background: #f2f2f2;
    padding: 8px;
    padding: 0.5rem;
    padding-top:9px!important;
    margin-top: -9px;
    font-weight: bold;
    border-bottom:none!important;
}
.supplier {
    padding-left:8px;
}
.supplier:last-of-type {
    border-bottom: none;
}
.meter--details.non-smart dl, #RootPlaceHolder_RootPlaceHolder_PnlScenario5_9 dl {
    background: #f4f4f4;
    border-left: 4px solid #8D9093;
    border-bottom: none!important;
}